<%- include('../partials/header') %>


<section class="edit-vinyl">
<h1 class="h1-title"><%= title %></h1>

<section id="form-page">
  <!-- Profile Start -->
  <div class="user-details">
    <div class="username"> Added by: <%= user.name %></div>
    <div class="vinyl-user">
    <img class="show-profile-avatar" alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer" >
    </div>
  </div>
</section>

<!-- Record Submission Form -->
<!-- update value to PUT -->
<section id="edit-vinyl-section">
    <form id="edit-vinyl-submission-form" method="POST" action="/vinyls/<%= vinyl._id %>?_method=PUT">
    <label for="title" class="edit-vinyl-details-text">Title:</label>
    <input type="text" name="title" id="title" value="<%= vinyl.title %>"><br>
    <label for="artist" class="edit-vinyl-details-text">Artist:</label>
    <input type="text" name="artist" id="artist" value="<%= vinyl.artist %>"><br>
    <label for="releaseYear" class="edit-vinyl-details-text">Release Year:</label>
    <input type="text" name="releaseYear" id="releaseYear" value="<%= vinyl.releaseYear %>"><br>
    <label for="genre" class="edit-vinyl-details-text">Genre:</label>
    <select name="genre" id="genre">
        <option value="Pop" <%= vinyl.genre === 'Pop' ? 'selected' : '' %>>Pop</option>
        <option value="Rock" <%= vinyl.genre === 'Rock' ? 'selected' : '' %>>Rock</option>
        <option value="Hip Hop" <%= vinyl.genre === 'Hip Hop' ? 'selected' : '' %>>Hip Hop</option>
        <option value="R&B (Rhythm and Blues)" <%= vinyl.genre === 'R&B (Rhythm and Blues)' ? 'selected' : '' %>>R&B (Rhythm and Blues)</option>
        <option value="Country" <%= vinyl.genre === 'Country' ? 'selected' : '' %>>Country</option>
        <option value="Jazz" <%= vinyl.genre === 'Jazz' ? 'selected' : '' %>>Jazz</option>
        <option value="Electronic" <%= vinyl.genre === 'Electronic' ? 'selected' : '' %>>Electronic</option>
        <option value="Alternative" <%= vinyl.genre === 'Alternative' ? 'selected' : '' %>>Alternative</option>
        <option value="Indie" <%= vinyl.genre === 'Indie' ? 'selected' : '' %>>Indie</option>
        <option value="Metal" <%= vinyl.genre === 'Metal' ? 'selected' : '' %>>Metal</option>
        <option value="Punk" <%= vinyl.genre === 'Punk' ? 'selected' : '' %>>Punk</option>
        <option value="Reggae" <%= vinyl.genre === 'Reggae' ? 'selected' : '' %>>Reggae</option>
        <option value="Classical" <%= vinyl.genre === 'Classical' ? 'selected' : '' %>>Classical</option>
        <option value="Blues" <%= vinyl.genre === 'Blues' ? 'selected' : '' %>>Blues</option>
        <option value="Funk" <%= vinyl.genre === 'Funk' ? 'selected' : '' %>>Funk</option>
        <option value="Soul" <%= vinyl.genre === 'Soul' ? 'selected' : '' %>>Soul</option>
        <option value="Folk" <%= vinyl.genre === 'Folk' ? 'selected' : '' %>>Folk</option>
        <option value="Dance" <%= vinyl.genre === 'Dance' ? 'selected' : '' %>>Dance</option>
        <option value="Gospel" <%= vinyl.genre === 'Gospel' ? 'selected' : '' %>>Gospel</option>
        <option value="World" <%= vinyl.genre === 'World' ? 'selected' : '' %>>World</option>
        <option value="Other" <%= vinyl.genre === 'Other' ? 'selected' : '' %>>Other</option>
    </select>
    <br>
    <label for="condition" class="edit-vinyl-details-text">Condition:</label>
    <select name="condition" id="condition">
            <option value="Poor" <%= vinyl.condition === 'Poor' ? 'selected' : '' %>>Poor</option>
            <option value="Fair" <%= vinyl.condition === 'Fair' ? 'selected' : '' %>>Fair</option>
            <option value="Good" <%= vinyl.condition === 'Good' ? 'selected' : '' %>>Good</option>
            <option value="Very Good" <%= vinyl.condition === 'Very Good' ? 'selected' : '' %>>Very Good</option>
            <option value="Mint" <%= vinyl.condition === 'Mint' ? 'selected' : '' %>>Mint</option>
    </select><br>
    <label for="exchangeType" class="edit-vinyl-details-text">Exchange Type:</label>
    <select name="exchangeType" id="exchangeType" onchange="togglePriceField()">
    <option value="Trade" <%= vinyl.exchangeType === 'Trade' ? 'selected' : '' %>>Trade</option>
    <option value="Sell" <%= vinyl.exchangeType === 'Sell' ? 'selected' : '' %>>Sell</option>
    <option value="Buy" <%= vinyl.exchangeType === 'Buy' ? 'selected' : '' %>>Buy</option>
    </select><br>
    <div id="priceField">
        <label for="price" class="edit-vinyl-details-text">Price:</label>
        <input type="text" name="price" id="price" value="<%= vinyl.price %>" readonly><br>
    </div>

    <!-- Update Vinyl  -->
    <input class="button" type="submit" value="Update Vinyl">
    </form>
</section>


<!-- Javascript for price display function  -->
    <script>
        function togglePriceField() { 
                const priceField = document.getElementById('priceField');
                const exchangeType = document.getElementsByName('exchangeType')[0];
    
                if (exchangeType.value === 'Sell') {
                    priceField.style.display = 'block';
                    document.getElementsByName('price')[0].readOnly = false;
                } else {
                    priceField.style.display = 'none';
                    document.getElementsByName('price')[0].readOnly = true;
                }
        } 
    </script>

</section>


<%- include('../partials/footer') %>
