<%- include('../partials/header') %>

<section>
<h1><%= title %></h1>
<div>
    <% vinyls.forEach(function(v) { %>
    <ul>
        <li class="vinyl-user"><img alt="avatar" src="<%= v.userAvatar %>" referrerpolicy="no-referrer" ><%= v.userName %></td>
        <li><%=v.title%></li>
        <li><%=v.userName%></li>
        <li><%=v.artist%></li>
        <li><%=v.condition%></li>
        <li><%=v.exchangeType%></li>
      </ul>
      <% }); %>
</div>
</section>


<%- include('../partials/footer') %>
