<%- include('../partials/header') %>

<section>
<h1><%= title %></h1>

<table id="list">
    <thead>
      <tr>
        <th class="th">Title</th>
        <th class="th">Artist</th>
        <th class="th">Release Year</th>
        <th class="th">Genre</th>
        <th class="th">Condition</th>
        <th class="th">Exchange Type</th>
        <th class="th">Price</th>

      </tr>
    </thead>
    <tbody>
    <% vinyls.forEach(function(v){ %>
        <tr>
            <td class="td"><%= v.title %></td>
            <td class="td"> <%= v.artist %></td>
            <th class="th"><%= v.releaseYear %></th>
            <td class="td"><%= v.genre %></td>
            <td class="td"><%= v.condition %></td>
            <td class="td"><%= v.exchangeType %></td>
            <td class="td"><%= v.price %></td>
            <td><a href="/vinyls/<%= v._id %>">
                <button>Vinyl Details</button>
            </a></td>
        </tr>
    <% }); %>
    </tbody>
</table>


<%- include('../partials/footer') %>
