<%- include('../partials/header') %>


<section class="add-new-vinyl-form">

<h1 class="h1-title"><%= title %></h1>

 <!--User Details  -->

<section id="user-details">
  <div><%= user.name %></div>
  <div class="vinyl-user">
    <img class="profile-avatar" alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer" >
  </div>
</section>

<!-- Add New Vinyl Submission Form -->
<section id="add-new-vinyl-form">
    <form id="add-vinyl-submission-form" method="POST" action="/vinyls">
    <label class="add-new-vinyl-form-text">Title:</label>
    <input type="text" name="title"><br>
    <label class="add-new-vinyl-form-text">Artist:</label>
    <input type="text" name="artist"><br>
    <label class="add-new-vinyl-form-text">Release Year:</label>
    <input type="text" name="releaseYear"><br>
    <label class="add-new-vinyl-form-text">Genre:</label>
    <select name="genre">
        <option value="Pop">Pop</option>
        <option value="Rock">Rock</option>
        <option value="Hip Hop">Hip Hop</option>
        <option value="R&B (Rhythm and Blues)">R&B (Rhythm and Blues)</option>
        <option value="Country">Country</option>
        <option value="Jazz">Jazz</option>
        <option value="Electronic">Electronic</option>
        <option value="Alternative">Alternative</option>
        <option value="Indie">Indie</option>
        <option value="Metal">Metal</option>
        <option value="Punk">Punk</option>
        <option value="Reggae">Reggae</option>
        <option value="Classical">Classical</option>
        <option value="Blues">Blues</option>
        <option value="Funk">Funk</option>
        <option value="Soul">Soul</option>
        <option value="Folk">Folk</option>
        <option value="Dance">Dance</option>
        <option value="Gospel">Gospel</option>
        <option value="World">World</option>
        <option value="Other">Other</option>
    </select><br>
    <label class="add-new-vinyl-form-text">Condition:</label>
    <select name="condition">
        <option value="Poor">Poor</option>
        <option value="Fair">Fair</option>
        <option value="Good">Good</option>
        <option value="Very Good">Very Good</option>
        <option value="Mint" selected>Mint</option>
    </select><br>
    <label class="add-new-vinyl-form-text">Exchange Type:</label>
    <select name="exchangeType" onchange="togglePriceField()">
        <option value="Trade">Trade</option>
        <option value="Sell">Sell</option>
        <option value="Buy">Buy</option>
    </select><br>
    <div id="priceField" >
        <label class="add-new-vinyl-form-text">Price:</label>
        <input type="text" name="price" readonly><br>
    </div>

<!-- Add Vinyl Button -->
    <input class="button" type="submit" value="Add Vinyl">
    </form>
</section>

<!-- Javascript for Price display function  -->
<script>
 function togglePriceField() { 
            const priceField = document.getElementById('priceField');
            const exchangeType = document.getElementsByName('exchangeType')[0];

            if (exchangeType.value === 'Sell') {
                priceField.style.display = 'block';
                document.getElementsByName('price')[0].readOnly = false;
            } else {
                priceField.style.display = 'none';
                document.getElementsByName('price')[0].readOnly = true;
            }
 } 
</script>

</section>

<%- include('../partials/footer') %>
