<%- include('../partials/header') %>

<title><%= title %></title>

<section id="vinyl-details-heading">

<!-- Profile Start -->
    <% if (typeof user !== 'undefined' && user !== null) { %>
        <div><%= user.name %></div>
        <div class="vinyl-user">
        <img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer" >
        </div>
    <% } %>
  </section>


  <!-- Vinyl Details -->
     <section class="vinyl-details">
        <div>Title: </div>
        <div><%= vinyl.title %></div>
        <div>Artist: </div>
        <div><%= vinyl.artist %></div>
        <div>Release Year: </div>
        <div><%= vinyl.releaseYear %></div>
        <div>Genre: </div>
        <div><%= vinyl.genre %></div>
        <div>Condition: </div>
        <div><%= vinyl.condition %></div>
        <div>Exchange Type: </div>
        <div><%= vinyl.exchangeType %></div>
        <div>Price: </div>
        <div><%= vinyl.price %></div>
    </section>


    <!-- Edit Button -->
    <h2>Edit Vinyl</h2>
    <a href="/vinyls/<%= vinyl._id %>">
        <button>Edit Vinyl Form</button>
    </a>

    <!-- Update the Vinyl Post -->
    <!-- Update method to PUT for Update -->
    <% if (user?._id.equals(vinyl.user)) { %>
        <section id="edit-vinyl-section">
            <form id="add-vinyl-submission-form" method="PUT" action="/vinyls">
                <label>Title:</label>
                <input type="text" name="title"><br>
                <label>Artist:</label>
                <input type="text" name="artist"><br>
                <label>Release Year:</label>
                <input type="text" name="releaseYear"><br>
                <label>Genre:</label>
                <select name="genre">
                <option value="Pop">Pop</option>
                <option value="Rock">Rock</option>
                <option value="Hip Hop">Hip Hop</option>
                <option value="R&B (Rhythm and Blues)">R&B (Rhythm and Blues)</option>
                <option value="Country">Country</option>
                <option value="Jazz">Jazz</option>
                <option value="Electronic">Electronic</option>
                <option value="Alternative">Alternative</option>
                <option value="Indie">Indie</option>
                <option value="Metal">Metal</option>
                <option value="Punk">Punk</option>
                <option value="Reggae">Reggae</option>
                <option value="Classical">Classical</option>
                <option value="Blues">Blues</option>
                <option value="Funk">Funk</option>
                <option value="Soul">Soul</option>
                <option value="Folk">Folk</option>
                <option value="Dance">Dance</option>
                <option value="Gospel">Gospel</option>
                <option value="World">World</option>
                <option value="Other">Other</option>
                </select><br>
                <label>Condition:</label>
                <select name="condition">
                <option value="Poor">Poor</option>
                <option value="Fair">Fair</option>
                <option value="Good">Good</option>
                <option value="Very Good">Very Good</option>
                <option value="Mint" selected>Mint</option>
                </select><br>
                <label>Exchange Type:</label>
                <select name="exchangeType" onchange="togglePriceField()">
                <option value="Trade">Trade</option>
                <option value="Sell">Sell</option>
                <option value="Buy">Buy</option>
                </select><br>
                <div id="priceField" >
                <label>Price:</label>
                <input type="text" name="price" readonly><br>
                </div>
                <!-- Add Vinyl Button -->
                <input type="submit" value="Submit Vinyl Update">
            </form>
        </section>
     <% } %>


    <!-- Delete Button -->
    <h2>Delete Vinyl</h2>
        <% if (user?._id.equals(vinyl.user)) { %>
            <form action="/vinyls/<%= vinyl._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
            </form>
        <% } %>

<%- include('../partials/footer') %>





