<%- include('../partials/header') %>


<section class="vinyl-details-edit-delete-reviews">

<h1 class="h1-title"><%= title %></h1>

<section id="vinyl-details-heading">

<!-- User Details -->
    <% if (typeof user !== 'undefined' && user !== null) { %>
      
      <div class="user-details">
        <div class="username"> Added by: <%= vinyl.user.name %></div>
        <div class="vinyl-user">
        <img class="show-profile-avatar" alt="avatar" src="<%= vinyl.user.avatar %>" referrerpolicy="no-referrer" >
        </div>
      </div>
    <% } %>
  </section>


<!-- Vinyl Show Details -->
     <section class="vinyl-details">
        <div><span class="show-vinyl-details-text">Title:</span> <span class="show-vinyl-details-text"><%= vinyl.title %></span></div>
        <div><span class="show-vinyl-details-text">Artist:</span> <span class="show-vinyl-details-text"><%= vinyl.artist %></span></div>
        <div><span class="show-vinyl-details-text">Release Year:</span> <span class="show-vinyl-details-text"><%= vinyl.releaseYear %></span></div>
        <div><span class="show-vinyl-details-text">Genre:</span> <span class="show-vinyl-details-text"><%= vinyl.genre %></span></div>
        <div><span class="show-vinyl-details-text">Condition:</span> <span class="show-vinyl-details-text"><%= vinyl.condition %></span></div>
        <div><span class="show-vinyl-details-text">Exchange Type:</span> <span class="show-vinyl-details-text"><%= vinyl.exchangeType %></span></div>
        <div><span class="show-vinyl-details-text">Price:</span> <span class="show-vinyl-details-text"><%= vinyl.price %></span></div>
    </section>


<!-- Vinyl Show Details | Edit Button -->

<% if (user && vinyl.user.equals(user._id)) { %>
    <a href="/vinyls/<%= vinyl._id %>/edit">
        <button class="button" id="update-vinyl-button">Edit Vinyl Form</button>
    </a>

    
<!-- Vinyl Show Details | Delete Button -->
            <form action="/vinyls/<%= vinyl._id %>?_method=DELETE" method="POST">
            <button class="button" id="delete-vinyl-button" type="submit">Delete Vinyl</button>
            </form>
  <% } %>

<!-- Vinyl Show Details | Add Review Form -->
    <h2 class="vinyl-reviews-title" class="vinyl-reviews-submit-form">Vinyl Reviews</h2>
    <form id="add-review-form" method="POST"
        action="/vinyls/<%= vinyl._id %>/reviews">
        <label class="show-vinyl-reviews-form-text" >Review:</label>
        <textarea id="review-text-area" name="comment"></textarea>
        <label class="show-vinyl-reviews-form-text">Rating:</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
        </select>
        <input class="button" type="submit" value="Add Review">
    </form>

  <!-- Vinyl Show Details | Reviews Table After Review Form Submitted -->
<section class="reviews-table">
    <% if (vinyl.reviews.length) { %>
        <table>
          <thead>
            <tr>
              <th class="reviews-table-text">User</th>
              <th class="reviews-table-text"> Date</th>
              <th class="reviews-table-text">Review</th>
              <th class="reviews-table-text">Rating</th>
              <th class="reviews-table-text"></th>
            </tr>
          </thead>
          <tbody>
            <% let total = 0 %>
            <% vinyl.reviews.forEach(function(r) { %>
              <% total += r.rating %>
              <tr>
                <td class="reviews-table-text-comment" class="review-user"><img class="profile-avatar-for-reviews" alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><span class="reviews-table-text-comment" ><%= r.userName %></span></td>
                <td class="reviews-table-text-comment"><%= r.createdAt.toLocaleDateString() %></td>
                <td class="reviews-table-text-comment"><%= r.comment %></td>
                <td class="reviews-table-text-comment"><%= r.rating %></td>
                <td>
                  <% if (user && r.user._id.equals(user._id)) { %>
                    <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                      <button class="button" id="delete-button-for-review" type="submit">X</button>
                    </form>
                  <% } %>
                </td>
              </tr>
            <% }); %>
            <tr>
              <td colspan="3"></td>
              <td><strong><%= (total / vinyl.reviews.length).toFixed(1) %></strong></td>
            </tr>
          </tbody>
        </table>
      <% } else { %>
        <h5>No Reviews Yet</h5>
      <% } %>
</section>

</section>


<%- include('../partials/footer') %>





