<%- include('../partials/header') %>


<section class="vinyl-details-edit-delete-reviews">

<h1 class="h1-title"><%= title %></h1>

<section id="vinyl-details-heading">

<!-- Profile Start -->
    <% if (typeof user !== 'undefined' && user !== null) { %>
        <div><%= user.name %></div>
        <div class="vinyl-user">
        <img class="profile-avatar" alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer" >
        </div>
    <% } %>
  </section>


  <!-- Vinyl Details -->
     <section class="vinyl-details">
        <div><span class="show-vinyl-details-text">Title:</span> <span class="show-vinyl-details-text"><%= vinyl.title %></span></div>
        <div><span class="show-vinyl-details-text">Artist:</span> <span class="show-vinyl-details-text"><%= vinyl.artist %></span></div>
        <div><span class="show-vinyl-details-text">Release Year:</span> <span class="show-vinyl-details-text"><%= vinyl.releaseYear %></span></div>
        <div><span class="show-vinyl-details-text">Genre:</span> <span class="show-vinyl-details-text"><%= vinyl.genre %></span></div>
        <div><span class="show-vinyl-details-text">Condition:</span> <span class="show-vinyl-details-text"><%= vinyl.condition %></span></div>
        <div><span class="show-vinyl-details-text">Exchange Type:</span> <span class="show-vinyl-details-text"><%= vinyl.exchangeType %></span></div>
        <div><span class="show-vinyl-details-text">Price:</span> <span class="show-vinyl-details-text"><%= vinyl.price %></span></div>
    </section>


    <!-- Edit Button -->
    <h2>Edit Vinyl</h2>
    <a href="/vinyls/<%= vinyl._id %>/edit">
        <button id="update-vinyl-button">Edit Vinyl Form</button>
    </a>

    
    <!-- Delete Button -->
    <h2>Delete Vinyl</h2>
        <% if (user?._id.equals(vinyl.user)) { %>
            <form action="/vinyls/<%= vinyl._id %>?_method=DELETE" method="POST">
            <button id="delete-button-for-vinyl" type="submit">Delete Vinyl</button>
            </form>
        <% } %>

<!-- Vinyl Review Field -->
    <h2>Vinyl Reviews</h2>
    <form id="add-review-form" method="POST"
        action="/vinyls/<%= vinyl._id %>/reviews">
        <label>Review:</label>
        <textarea name="comment"></textarea>
        <label>Rating:</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
        </select>
        <input type="submit" value="Add Review">
    </form>

<!-- Vinyl Review Table Once Submitted -->
<% if (vinyl.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% vinyl.reviews.forEach(function(r) { %>
          <% total += r.rating %>
          <tr>
            <td class="review-user"><img class="profile-avatar-for-reviews" alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
            <td><%= r.createdAt.toLocaleDateString() %></td>
            <td><%= r.comment %></td>
            <td><%= r.rating %></td>
            <td>
              <% if (user?._id.equals(r.user._id)) { %>
                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                  <button id="delete-button-for-review" type="submit">X</button>
                </form>
              <% } %>
            </td>
          </tr>
        <% }); %>
        <tr>
          <td colspan="3"></td>
          <td><strong><%= (total / vinyl.reviews.length).toFixed(1) %></strong></td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Reviews Yet</h5>
  <% } %>

</section>


<%- include('../partials/footer') %>





